<% layout("layouts/boilerplate.ejs") %>

<div class="row">
<div class="col-8 offset-2">
<br>

<h3>Edit Listing :</h3>

<form method="POST" action="/listing/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">

<div class="mb-3">
<label for="title" class="form-label">Title</label>
<input value="<%= listing.title %>" placeholder="Add a catchy title" name="listing[title]" type="text" class="form-control" required>
<div class="valid-feedback">
    Title looks good!
</div>
<div class="invalid-feedback">
    Please provide a title.
</div>
</div>

<div class="mb-3">
<label for="description" class="form-label">Description</label>
<textarea placeholder="Enter Description" name="listing[description]" class="form-control" required><%= listing.description %></textarea>
<div class="invalid-feedback">
    Please provide a description.
</div>
</div>

<div class="card listing-card edit-image">
    Original Listing<br>
    <img src="<%= originalImg %>" />
</div>

<div class="mb-3">
<label for="image" class="form-label">Upload Image</label>
<input value="<%= listing.image.url %>" name="listing[image]" type="file" class="form-control">
</div>

<div class="row">

<div class="mb-3 col-md-4">
<label for="price" class="form-label">Price</label>
<input value="<%= listing.price %>" placeholder="Enter Price" name="listing[price]" type="number" class="form-control" required>
<div class="invalid-feedback">
    Please provide a price.
</div>
</div>

<div class="mb-3 col-md-8">
<label for="country" class="form-label">Country</label>
<input value="<%= listing.country %>" placeholder="Enter Country" name="listing[country]" type="text" class="form-control" required>
<div class="invalid-feedback">
    Please provide a country name.
</div>
</div>

</div>

<div class="mb-3">
<label for="location" class="form-label">Location</label>
<input value="<%= listing.location %>" placeholder="Enter Location" name="listing[location]" type="text" class="form-control" required>
<div class="invalid-feedback">
    Please provide a location.
</div>
</div>

<button class="edit-btn btn-dark">Edit</button>

</form>
<br>
</div>
</div>
